<template>
    <header class="flex">
      <Slider 
      @next="next"
      @prev="prev"
      :visabaleSlide="visabaleSlide" 
      :slides="slides" 
      class="bg-gray-500 slider float-right absolute overflow-hidden" />

      <Sidehead 
      :visabaleSlide="visabaleSlide" 
      :SlideL="SlideL"
      class="flex-initial h-full .bg-gray-900 relative left-0 top-0 sidee" />


      <Navigation :navs="navs" class="z-50 flex-initial float-right h-32 navigation-top opened"/>
    </header>
</template>





<script>
import Navigation from '@/components/Header/Navigation'
import Sidehead from '@/components/Header/Sidehead'
import Slider from '@/components/Header/Slider'
export default {
  components : {
    Navigation,
    Sidehead,
    Slider,
  },
  data () {
    return{
      // top menu
      navs : [
        {
          name: 'HOME',
          link: 'google.com'
        },
        {
          name: 'ABOUT',
          link: 'google.com'
        },
        {
          name: 'PROJECTS',
          link: 'google.com'
        },       
        {
          name: 'BLOG',
          link: 'google.com'
        },
        {
          name: 'CONTACTS',
          link: 'google.com'
        },
      ],
      // slider in header
      slides : [
        {
          img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/09/slide3-2.jpg',
          title: 'What is Lorem Ipsum',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus eleifend lectus. Integer porta, quam sed egestas sollicitudin, nibh libero porta purus, et tristique arcu urna id massa. Suspendisse accumsan euismod augue a elementum. Fusce auctor mattis risus, in pulvinar nibh sagittis non',
        },
        {
          img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/09/slide2-1.jpg',
          title: 'Lorem Ipsum is good',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus eleifend lectus. Integer porta, quam sed egestas sollicitudin, nibh libero porta purus, et tristique arcu urna id massa. Suspendisse accumsan euismod augue a elementum. Fusce auctor mattis risus, in pulvinar nibh sagittis non',
        },
        {
          img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/09/slide1-2.jpg',
          title: 'test text for test',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus eleifend lectus. Integer porta, quam sed egestas sollicitudin, nibh libero porta purus, et tristique arcu urna id massa. Suspendisse accumsan euismod augue a elementum. Fusce auctor mattis risus, in pulvinar nibh sagittis non',
        },                
      ],
      visabaleSlide : 0,
    }
  },
  computed : {
    SlideL (){
      return this.slides.length
    }
  },

  methods : {
    next(){

      if(this.visabaleSlide >= this.SlideL -1){
      this.visabaleSlide = 0
      }else{
        this.visabaleSlide++
        console.log(this.visabaleSlide)
      }
    },
    prev(){
      if(this.visabaleSlide <= 0){
      this.visabaleSlide =  this.SlideL -1
      }else{
        this.visabaleSlide--      
      }
    }
  }

}
</script>




<style>
.with-maxC{
  width: max-content;
}
.sidee{
    width: 49vh;
}
.navigation-top{

    
    width: 100%;
    margin: 0 auto;
}
.header header{ 
  width: 100vw;
  height: 100vh;
}
.gold{
      color: #c5a47e;
}
.gray-light{
      color: #5e5e5e;
}
.white{
      color: white;
}
.backgroundColor{
      background-color: #2b2b2b;
}
.slider{
  width: 100%;
height: 100vh;
}
  .navigation-top.opened{
    background-color: #2B2B2B;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    right: 0;
    color: #c5a47e;
    height: 7vh;
  }


@media (min-width: 1024px) {
  .navigation-top.opened{
    padding: 2vh 0 0 3vw;
  }
}
</style>