<template>
    <div class="justify-between">
        <p class="call float-left w-1/6   hidden xl:block">
            +98 911 111 1111
        </p>
        <transition name="hm">
            <ul 
            v-show="menuOpen"
            class="with-maxC  flex mobile-menu lg:flex">

                <nuxt-link
                v-for="(nav ,i) in navs"
                :key="i" 
                class="text-center  text-center lg:ml-10 transition duration-500 ease-in-out links"  
                :to="nav.link">
                    {{nav.name}}
                </nuxt-link>

            </ul>
        </transition>
        <span 
        @click="menuOpen = !menuOpen"
        class="menu-icon block cursor-pointer lg:hidden absolute z-50 ">
            <span class="line block mt-2 "></span>
            <span class="line block mt-2 "></span>
            <span class="line block mt-2 "></span>
        </span>
    </div>
</template>

<script>
export default {
    props : [
        'navs',
    ],
    data(){
        return{
            menuOpen : false,
        }
    }
}
</script>

<style scoped>
.navigation-top ul{
    padding: 0 0 0 20vw;
}
.links:hover{
      color: #c5a47e !important;
}
.menu-icon{
    right: 4vw;
    top: 1vh;
}
.menu-icon .line{
    background-color: #fff;
    height: 2px;
    width: 30px;
}
.opened .line{
    background-color: #c5a47e;
}
.hm-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.hm-enter, .hm-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-500px);
}



@media (max-width: 1024px) {
    .mobile-menu{
    justify-content: space-around;
    padding: 3vh 0 !important;
    text-align: center;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.95);
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    margin: 7vh 0;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    }
    .mobile-menu a{
    margin: 1vh 0;
    height: 4vh;
    color: #c5a47e;
    }
}
@media (min-width: 1024px){
    .mobile-menu{
        display: flex !important;
    }
} 



</style>