<template>
    <div>
        <div class=" backgroundColor absolute z-50 left-0 top-0 text-center show-slider-index">
            <nuxt-link class="uppercase font-sans font-black text-white text-center title-side" to="#">
                test
            </nuxt-link>
            <div class="z-50   font-bold text-white  font-sans number-index-slider  ">
                <span class="relative gold">
                    {{visabaleSlide +1}}
                    <span class="sub-num text-xl gray-light relative top-0 inline-block">
                        / {{SlideL}}
                    </span>
                </span>
            </div>
       </div>
        <div class="sidebar backgroundColor h-full pt-60 relative left-0 top-0 z-10">
            <div class=" bottom-side mx-auto absolute w-full bottom-0 flex justify-center rounded-full flex-col">
                <div class="line icons"></div>
                <div class="icons">
                    <a href="#">
                        <img src="../../assets/icons/ig-icon.png" alt="">
                    </a>
                </div>
                <div class="icons">
                    <a href="#">
                        <img src="../../assets/icons/tw-icon.png" alt="">
                    </a>
                </div>
                <div class="icons">
                    <a href="#">
                        <img src="../../assets/icons/be-icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    props : ['visabaleSlide' , 'SlideL']
}
</script>

<style scoped>
.bottom-side{
    height: 46vh;
}
.title-side{
    font-size: 5vh;
}
.show-slider-index{
    padding: 6vh 0;
    width: 28vh;
    height: 28vh;
}
.sidebar{
    width: 14vh;
}
.number-index-slider{
    font-size: 6vh;
    margin: 4vh 0;
}
.sub-num{
    font-size: 2vh;
}
.line{
    background: #7a7a7a;
    width: 2px !important;
    height: 5vh;
}
.icons{
    width: 4vh;
    margin: 2vh auto;
}
@media (min-width: 768px) {
    .show-slider-index{
    width: 38vh;
    height: 38vh;    
    }
    .sidebar{
    width: 19vh;
}
}
</style>