<template>
    <div>
                <div
                class="item"
                v-if="visabaleSlide == i" 
                >
                    <img 
                    class="img-div object-cover w-full"
                    :src="slide.img" alt="">
                    <div class="main-slider absolute ">
                        <div class="flex justify-center  title-slider text-right  font-cold white tracking-widest">
                            <h1>
                                {{slide.title}}
                            </h1>
                        </div>
                        <div class="flex justify-center font-sans desc-slider text-right  font-cold white font-light  tracking-widest">
                            <h3>
                                {{slide.description}}
                            </h3>
                        </div>
                        <button :to="slide.link" class="shadow-lg white light tracking-widest border-radius-100 rounded-full float-right btn-more">
                        Read More
                        </button>
                    </div>
                </div>
    </div>
</template>

<script>
export default {
    props : [ 'visabaleSlide' , 'i', 'slide']
}
</script>

<style scoped>
.btn-more{
    width: 19vw;
    font-size: 2.5vw;
    height: 5vh;
    background: #c5a47e;
    margin: 2vh 0;
}
.img-div{
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    position: absolute;
}
.main-slider{
    right: 2vw;
    top: 37vh;
    width: max-content;
    height: max-content;
}
.title-slider{
    width: 50vw;
    font-size: 6.5vw;

}
.desc-slider{
    width: 52vw;
    font-size: 2.5vw;
}

@media (min-width: 768px) {
    .title-slider{
        width: 36vw;
        font-size: 4.5vw;

    }
    .desc-slider{
        width: 35vw;
        font-size: 1vw;
    }
    .btn-more{
        font-size: 1.1vw;
        width: 9vw;
    }
} 

@media (min-width: 1024px) { 
    .main-slider{
    top: 30vh;
    right: 20vw;
    }
    .title-slider {
    font-size: 3.5vw;
    min-height: 22vh;  
    }
    .desc-slider{
    font-size: 1vw;
}
}

</style>