<template>
<div>
        <SliderItems 
            v-for="(slide , index) in slides"
            :key="index"
            :slide="slide"
            :i="index"
            :visabaleSlide="visabaleSlide"
        />

        <div class="slider-nav absolute z-50 cursor-pointer flex justify-around white" >
            <div 
            @click="prev"
            class="next arrow uppercase font-black">
                prev
            </div>            
            <div 
            @click="next"
            class="next arrow uppercase font-black">
                next
            </div>
        </div>

</div>
</template>

<script>
import SliderItems from '@/components/Header/SliderItems'
export default {
    components : {
        SliderItems
    },
    methods : {
        next(){
            this.$emit('next')
        },    
        prev(){
            this.$emit('prev')
        }
    },
    props : ['slides', 'visabaleSlide']
}
</script>

<style>


.slider-nav{
    width: 56vw;
    bottom: 2vh;
    left: 32vw;
}
.arrow{
    font-size: 5vw;
}
@media (min-width: 768px) {
    .slider-nav{
    width: 13vw;
    top: 39vh;
    left: 20vh;
    bottom: auto;
    }
    .arrow{
    font-size: 1.2vw;
    }
}


</style>