<template>
    <section>
        <div class="container block md:flex justify-center text-center">
            <div class="years item bg-fixed">
                <div class="text-years overflow-hidden mb-0 white ">
                    12
                </div>
            </div>
            <div class="text item">
                <h1 class="title white font-bold">
                Years of successful work
                <br>
                
                </h1>
                <h1 class="white font-bold t2">
                    in the market
                </h1> 
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
.container{
    margin: 0 auto;
}
.years {
    background: url("http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/502X526.jpg" )  no-repeat 0 0;
    
	 height: max-content;
	display: inline-block;
}
.text-years{
    font-family: oswald,sans-serif;
    font-size: 21.8em;
    line-height: 1;
    background: #272727;
    mix-blend-mode: darken;
    font-weight: 700;
}
.text{
    width: max-content;
    font-size: 2.8vw;
    margin: 187px 0;
    height: max-content;
}
.title{
    background: #c5a47e;
    height: max-content;
}
.t2{
    height: max-content;
}
.item{
    position: relative;
}
@media (max-width: 668px) { 
    .years{
        width: 100vw;
    }
    .text{
        font-size: 5vw;
        width: 100vw;
        margin: 0;
    }
}
</style>