<template>
    <section class="container">
        <div class="tracking-widest title text-center text-3xl font-bold white">
            <h1>
                OUR <span class="gold">CLIENTS</span>
            </h1>
        </div>
        <div class="clients grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
            <a href="#">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/1.png" alt="">
            </a>
        </div>
        <button to="#" class="shadow-lg uppercase white light tracking-widest rounded-full block btn-more">
                        work togheder
        </button>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container{
        margin: 10vh auto 0 auto !important ;
    }
    .clients{
        margin: 10vh 0;
    
    }
    .clients a{
        margin: 3vh 0;
        opacity: .5;
    }
    .clients img{
        width: 71%;
        margin: 0 auto;
    }    
    .btn-more{
        width: 14vw;
    font-size: 1vw;
    height: 7vh;
    background: #c5a47e;
    margin: 2vh auto;
}
    @media (max-width: 648px) {
        .clients img{
            width: 37%;
        }
    }
    @media (max-width: 1024px){
        .btn-more{
            width: 54vw;
            font-size: 4vw;
        }
    }
</style>