<template>
    <footer>
        <div class="container text-center justify-around md:flex">
            <div class="logo items">
                <a href="#" class="white ">
                    go<span class="gold">.</span>arch
                </a>
            </div>
            <div class="item items">
                <a class=" white" href="#">
                    kaf
                </a>
            </div>
            <div class="item items">
                <a class="white" href="#">
@test-text
                </a>
            </div>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style scoped>
    footer{
        margin: 12vh 0 ;
    }
    .container{
        margin: 0 auto;
    }
    .container .logo {
        font-size: 2vw;
        margin: 2vh 0;
    }
    .container .item{
        height: max-content;
        margin: 3vh 0 0 0;
        opacity: .5;
    }
    .items{
        width: 13vw;
        text-align: center;
        line-height: 3vh;
    }
    @media (max-width: 768px) {
        .items{
            font-size: 3vw;
            width: 100vw;
            margin: 4vh 0 !important;
            
        }
        .container .logo {
            font-size: 5vw;
        }
    }
</style>