<template>
    <section class="container">
        <div class="tracking-widest title text-center text-3xl font-bold white">
            <h1>
                GET <span class="gold">IN TOUCH</span>
            </h1>
        </div>
        <div class="main-cantact w-full grid grid-cols-1 md:grid-cols-3">
            <div class="col-span-1 text-left addres">
                <p>+7 (212) 654-33-35</p>
                <p>+7 (212) 287-85-22</p>
                <p>info@test.com</p>
                <p>USA, New York, 57 Quigley Bridge </p>
            </div>
            <div class=" col-span-1 md:col-span-2 inputs grid  grid-cols-1 md:grid-cols-3 gap-3 ppp">
                <div class="col-span-1 md:col-span-2 gap-3 grid grid-cols-1 sm:grid-cols-2">
                     <input class="row-span-1 col-span1" placeholder="Name" type="text" name="name">
                     <input class="row-span-1 col-span1" placeholder="Phone" type="text" name="phone">
                     <input class="row-span-1 col-span1" placeholder="Email Addres" type="email" name="email">
                     <input class="row-span-1 col-span1" placeholder="Company" type="text" name="company">
                </div>
                <div class="col-span-1 gap-3 grid grid-cols-1">
                
                     <input class="row-span-2 col-span1 msg" placeholder="Massage" type="text" name="Massage">
                </div>
            </div>
        </div>
       
        <button to="#" class="shadow-lg uppercase white light tracking-widest rounded-full block btn-more">
                        send
        </button>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container{
        margin: 20vh auto 0 auto;
    }
    .main-cantact{
        margin: 16vh 0 2vh 0;

    }
    .addres{
        font-size: 1.2vw;
        color: rgba(255,255,255,.6);
    }
    .inputs input{
        display: inline-block;
        width: 100%;
        font-size: 1em;
        line-height: 1.42857143;
        padding: 6px 12px;
        height: 3.625em;
        border-radius: .75em;
        padding-left: 22px;
        color: #fff;
        background-color: #323232;
        border: 1px solid #323232;
        box-shadow: none;
        transition: all .15s;
    }
    .inputs input:focus{
        border-color: #c5a47e;
        outline: 0;
        box-shadow: none;
    }
    .msg{
        height: 100% !important;
    }
        .btn-more{
        width: 7vw;
    font-size: 1vw;
    height: 7vh;
    background: #c5a47e;
    margin: 2vh auto;
}
     @media (max-width: 768px) {
        .ppp{
            padding: 0 5vw;
        }
        .addres[data-v-fffc2150] {
        font-size: 3.2vw;
        text-align: center;
        padding: 5vh 0;
        }
    }
         @media (max-width: 1024px),( min-width: 768) {
             .addres{
                 font-size: 2.2vw;
             }
         }
    @media (max-width: 1024px){
        .btn-more {
            width: 54vw;
            font-size: 4vw;
            float: none;
        }
    }
    @media (min-width: 1024px){
        .btn-more {
    margin: 0 0 0 87%;

        }
    }
</style>