<template>
  <div>
    <Header class="header" />
    <About  class="about section" />
    <Project class="project section" />
    <Old class="old section"/>
    <Options class="options section"/>
    <Contact class="Contact section"/>
    <Footer class="Footer section"/>
  </div>
 
</template>

<script>
import Header from '@/components/Header/index'
import About from '@/components/About/index'
import Project from '@/components/Projects/index'
import Old from '@/components/Old/index'
import Options from '@/components/Options/index'
import Contact from '@/components/Contact/index'
import Footer from '@/components/Footer/index'
export default {
  components : {
    Header,
    About,
    Project,
    Old,
    Options,
    Contact,
    Footer
  }
}
</script>

<style>

.header{ 
  width: 100vw;
  height: 100vh;
}
.section{
  width: 100vw;
  height: max-content;
  margin: 10vh 0 0 0;
}

</style>
