<template>
    <section>
        <div class="tracking-widest title text-center text-3xl font-bold white">
            <h1 class="my-32">
                OUR <span class="gold">PROJECTS</span>
            </h1>
            <Slide :project="project"/>
        </div>
    </section>
</template>

<script>
import Slide from '@/components/Projects/slide'
export default {
    components :{
        Slide
    },
    data(){
        return{
            project: [
                {
                    img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/11/11.jpg',
                    title : 'slide1',
                },
                {
                    img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/11/3-480x880.jpg',
                    title : 'slide2',
                },
                {
                    img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/11/4-480x880.jpg',
                    title : 'slide3',
                },
                {
                    img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/11/7-480x880.jpg',
                    title : 'slide4',
                },
                {
                    img: 'http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2016/11/5-480x880.jpg',
                    title : 'slide5',
                },
            ],
        }
    }
}
</script> 

<style>

</style>