<template>
  <div>
    <carousel 
    items=3
    :loop=true
    :center=true
    :dots=false
    :responsive="{0:{items:1,nav:false},768:{items:3,nav:true}}"
    >

        <SliderItems 
        v-for="(pro , index) in project"
        :key="index"
        :pro="pro"
        />

</carousel>

</div>

</template>

<script>
import SliderItems from '@/components/Projects/SliderItems'

export default {
    props : ['project'],
    components :{
        SliderItems,
    }
}
</script>

<style>

</style>