<template>
  <div class="item">
      <a href="#">
      <img :src="pro.img" alt="" class="">
      <h1 class="text-3xl white font-bold absolute z-50 text-center w-full my-16">
          {{pro.title}}
      </h1>
      <div class="project-zoom">

      </div>
      </a>
  </div>
</template>

<script>
export default {
    props : ['pro']
}
</script>

<style scoped>
.item{
    transition: all 4s;
}
.item:hover{
     transform: scale(1.05)
}

.item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: .6;
    transition: all .5s;
}
.item:hover::after{
    opacity: 0;
    display: none;
}
.item h1{
    top: 4vh;
}
.project-zoom {
    position: absolute;
    left: 61%;
    top: 61%;
    width: 6em;
    height: 6em;
    margin: -4.5em;
    border-radius: 50%;
    background-color: rgba(197,164,126,.84);
    overflow: hidden;
    opacity: 0;
    transform: scale(.5);
    transition: all .7s;
}
.project-zoom::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2.625em;
	height: 2.625em;
	background: url(//paul-themes.com/wp/go-arch/go-arch-dark/wp-content/themes/goarch/img/img-icon/zoom.png) 0 0 no-repeat;
	background-size: cover;
	transform: translate(-50%,-50%);
}
.item:hover .project-zoom {
    opacity: 1;
    transform: scale(1);
}

</style>
<style >
.owl-nav{
    position: absolute;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 6vw;
    bottom: 512px !important;
}
</style>