<template>
    <section>
        <div class="tracking-widest title text-center text-3xl font-bold white">
            <h1>
                ABOUT <span class="gold">GO.ARCHE</span>
            </h1>
        </div>
        <div class="main-about  justify-around md:flex">
            <div class="item white text-center lg:text-left">
                <h1 class="title  leading-none text-4xl font-bold text-center lg:text-left">
                    we turn ideas into works of art.
                </h1>
                <h3 class="description my-8 font-light text-md">
For each project we establish relationships with partners who we know will help us create added value for your project. As well as bringing together the public and private sectors, we make sector-overarching links to gather knowledge and to learn from each other. The way we undertake projects is based on permanently applying values that reinforce each other: socio-cultural value, experiental value, building-technical value and economical value.
                </h3>
            </div>
            <div class="item white text-center lg:text-left">
                <h1 class="title  leading-none text-4xl font-bold">
                   our <br>
specialization 
                </h1>
                <div class="specialOpt my-8 text-center lg:text-left ">
                    <img class="my-2 mx-auto lg:mx-0" alt="" src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/icon-architecture.png" width="46">
                    <h2 class="text-xl tracking-widest my-2">
                        ARCHITECTURE
                    </h2>
                </div>

                <div class="specialOpt my-8 text-center lg:text-left ">
                    <img class="my-2 mx-auto lg:mx-0" alt="" src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/icon-interiors.png" width="46">
                    <h2 class="text-xl tracking-widest my-2">
                        INTERIORS
                    </h2>
                </div>

                <div class="specialOpt my-8 text-center lg:text-left ">
                    <img class="my-2 mx-auto lg:mx-0" alt="" src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/icon-planing.png" width="46">
                    <h2 class="text-xl tracking-widest my-2">
                        PLANING
                    </h2>
                </div>
            </div>
            <div class="item">
                <img src="http://paul-themes.com/wp/go-arch/go-arch-dark/wp-content/uploads/2011/05/380x370.jpg" alt="" class="w-full imgitem object-cover">
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
    .imgitem{
        height: 48vh;
    }
    .main-about{
        padding: 8vh 2vw;
    }
    .main-about .item{
        height: max-content;
        width: 26vw;
    }
    .description{
        color: rgba(255,255,255,0.6);
    }
    @media (min-width: 768px) {  
            .main-about{
                padding: 8vh 16vw;
            }
            .main-about .item{
                width: 20.4vw;
            }
    }  
        
    @media (max-width: 768px) {
        .main-about .item {
            height: max-content;
            width: 90vw;
            margin: 0 auto 8vh auto;
        }
    }

</style>